@model NguyenManhDuc392.Models.NMD392

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NMD392</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NMDName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NMDName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NMDGende)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NMDGende)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NMDID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
